* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 300ms;
}

body {
  min-height: 100vh;
  background-color: #111;
}

.mainContainer {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

.header {
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 20px 0px 10px 0px;
  display: flex;
  gap: 50px;
}

.container img {
  width: 350px;
  border: #22eef2 solid 3px;
}


.about {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about h1 {
  font-size: 20px;
}

.about h2 {
  font-size: 18px;
}

.container-2 {
  margin-top: 55px;
  border: rgb(123, 237, 129) solid 2px;
  padding: 10px 0px 10px 50px;
  height: 255px;
}

.container-2 h1 {
  display: flex;
  justify-content: center;

}

.container-2 li {
  font-size: 22px;
  padding: 6px;
}

.container-3 {
  margin-top: 50px;
  border: rgb(101, 175, 245) solid 2px;
  padding: 10px 0px 10px 50px;
  height: 200px;
}

.container-3 h1 {
  display: flex;
  justify-content: center;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.course a {
  font-size: 22px;
  color: #111;
}

.course :hover {
  color: #d273e9;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  align-items: center;
}

footer h1 {
  display: flex;
  justify-content: center;
}


footer img {

  width: 60px;
}