body{
  background: url(/img/1.jpg) no-repeat center/cover;
  background-color: #363854;
}
header img{
  border-radius: 500px;
  width: 250px;
}
.container{
  font-weight: bold;
  text-align: center;
  color: #f0f8ff;
}
main{
  margin-top: 25px;
  text-align: center;
  color: #f0f8ff;
}
main , main img{
  margin-top: 10px;
}
main img, a{
  border-radius: 55px;
  width: 250px;
}

main video
{
  margin: 50px 10px 25px 21px;
}

a{
  margin: 25px;
  color: #fcfcfc;
}
.teg{
  padding-top: 55px;
  color: #f0f8ff;
  text-align: center;
}